<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Short URL</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Oops!!</h1>
    <p class="error-msg">{{message}}</p>
    <p><a href="/">Go to register short url</a></p>
</body>
</html>