{{> layout/header}}

<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="http://shortlink.in/themes/v3/styles/img/url-link.png" alt="" style="height: 256px">
        <h1 class="text-uppercase mb-0">Shorten your Links</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Start shrinking - Place your links on Facebook, Twitter, and more!</h2>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Register your link</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <form class="input-group mb-3" action="/" method="post" enctype="application/x-www-form-urlencoded">
                <input class="form-control form-control-lg" type="url" name="link" placeholder="Input your link...">
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</section>

{{> layout/footer}}