<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Short URL</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1>Home Page</h1>
    <p>{{now}}</p>
</body>
</html>